@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.png" alt="ASP.NET" class="img-responsive" />
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2></h2>
    </div>
    <div class="col-md-3">
        <h2>To do</h2>
        <li><a asp-area="" asp-controller="Home" asp-action="Todo">Cosas por hacer</a></li>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
    </div>
</div>
