
@{
    ViewData["Title"] = "Todo";
}

<h2>To do:</h2>
<p>Por defecto foco en los create, etc</p>
<p>En la lista de alquileres un boton de alquiler</p>
<p>Mostrar generos de pelicula</p>
<p>Filtro de peliculas por genero</p>
<p>Control de stock?</p>
<p>Historial de alquileres (de todos o de usuario particular)</p>
<p>Alquileres actuales (de todos o de usuario particular)</p>

